<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/stylesheet/style.css">
</head>
<body>
  <div class="main"><% user.forEach(e => {%>
    <div class="main">
      <div class="element"><%= e.name%></div>
      <div class="element"><%= e.email%></div>
      <div class="element"><%= e.age%></div>
      <div class="element"><%= e.bio%></div>
      <a href="/user/<%= e.id%>">
        <button>edit</button>
      </a>
    </div>
  <%})%></div>
</body>
</html>